@import "./normalize.css";

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

img {
  width: 100%;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}

h1, h2, h3 {
  color: white;
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 2rem;
}

/*NAVIGATION BAR*/


.nav {
  background-color: black;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;
  align-items: center;
}

.nav__list {
  width: 100%;
  margin: 0;
}

.nav__item {
  padding: 2rem 4rem;
  border-bottom: 1px solid #222;
}

.nav__item:last-of-type {
  border-bottom: none;
}

.nav__item>a {
  color: #c3c3c7;
  transition: color 0.3s;
}

.nav__item>a:hover {
  color: #ffffff;
}

.nav__toggler {
  opacity: 0.5;
  transition: box-shadow 0.15s;
  cursor: pointer;
}

.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
  box-shadow: 0 0 0 3px #666;
  border-radius: 5px;
}

.nav__brand {
  padding-top: 1rem;
  padding-left: 1rem;
  width: 300px;
}

.nav__toggler {
  display: none;
}
.nav__list {
  width: auto;
  display: flex;
  font-size: 1.6rem;
  max-height: 100%;
  opacity: 1;
}
.nav__item {
  border: 0;
}

/* Typography */



@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}

.icon {
    width: 40px;
    height: 40px;
  }
  
  .icon--small {
    width: 30px;
    height: 30px;
  }
  
  .icon--primary {
    fill: var(--color-primary);
  }
  
  .icon--white {
    fill: #fff;
  }
  
  .icon-container {
    background: #f3f9fa;
    width: 64px;
    height: 64px;
    border-radius: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  
  .icon-container--accent {
    background: var(--color-accent);
  }
  

/* Links */

a {
  text-decoration: none;
}

body {
    background-color: rgb(10, 10, 43); /*0,0,39 */
}

 .main-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.first-section {
  display: grid;
  padding-top: 100px;
  grid-template-rows: 600px;
  grid-template-columns: 350px 160px 500px;
  /*background-color: rgb(59, 59, 59);*/
}

.intro-text {
  font-size: 2.7rem;
  padding: 3rem;
  /*background-color: #00d9ff;*/
  width: 400px;
  height: 100%;
}

.intro-text>h1 {
  font-weight: bolder;
}

.intro-text>h1>span:first-child {
  color: #2584ff;
}

.intro-text>h1>span:last-child {
  color: rgb(34, 255, 34);
}

.intro-image {
  display: grid;
  grid-template-rows: 50px 350px;
  width: auto;
  height: 400px;

}

.upper-bar {
  display: flex;
  justify-content: end;
  padding-right: 1rem;
  align-items: center;
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 50px;
  background-color: rgb(54, 54, 54);
}

.three-arrows {
  font-weight: bolder;
  color: #818181;
}

.text {
  display: grid;
  grid-template-columns: 40px 1fr;
  padding-top: 50px;
  background-color: rgb(31, 31, 31);
  width: 100%;
  height: 100%;
  border-radius: 0 0 5px 5px;
}

.upper-bar img {
  width: 25px;
  height: 25px;
}

.modifying-text {
  width: 100%;
  font-family: monospace;
  color: #918ca4;
  /*background-color: #700808;*/
}

.loading-profile {
  font-family: monospace;
  color: transparent;
  animation: init 0s linear 2.5s forwards;
}

.profile-info {
  color: transparent;
  font-family: monospace;
  animation: init 0s linear 3s forwards;
}

.run-text {
  font-family: monospace;
  display: inline-block;
}

.initializing {
  font-family: monospace;
  animation-delay: 2s;
  color: transparent;
  animation: init 0s linear 2s forwards;
}

.typed-out {
  overflow: hidden;
  border-right: 1rem solid grey;
  white-space: nowrap;
  animation: typing 1.5s steps(15) forwards;
  font-size: 1.6rem;
  width: 0;
}


@keyframes init {
  from {
    color: transparent;
  }
  to {
    color: #918ca4;
  }
}

@keyframes typing {
  from { width: 0 }
  to { width: 100%;
  }
};

.upper-bar img {
  width: 30px;
  height: 30px;
}


.middle-part {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.middle-text {
  height: 100%;
  padding-top: 120px;
  padding-left: 3rem;
  padding-right: 3rem;
  /*background-color: red;*/
}

p {
  color: whitesmoke;
}

.middle-image {
  /*background-color: red; */
}

.second-section {
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: center;
  grid-template-rows: 600px;
  grid-template-columns: 500px 0 510px;
  /*background-color: rgb(1, 8, 99);*/
}


.last-part {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.third-section {
  display: grid;
  grid-template-rows: 500px;
  /*background-color: green;*/
  grid-template-columns: 500px 520px;
}

.two-three-separator {
  height: 200px;
}

.last-part-image {
    width: 400px;
    height: 400px;
  /*background-color: #00d9ff;*/
}

.last-part-text {
  height: 100%;
  /*background-color: blue; */
}

.signature {
  /*background-color: dodgerblue;*/
}
.socials, .signature, .credits {
  display: flex;
  justify-content: center;
  align-items: center;
  /*background-color: green; */
}

.credits {
  /*background-color: yellow; */
}

.email {
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
  padding-top: 100px;
  grid-template-columns: 500px;
  grid-template-rows: 100px 10px;
}


footer {
  display: grid;
  justify-content: center;
  grid-template-rows: 100%;
  grid-template-columns: 33% 0% 33% 0% 33%;
  background-color: rgb(0, 15, 99);
  width: 100%;
  height: 100px;
}

.socials img {
  width: 30px;
  height: 30px;
}

.spacing {
  width: 15px;
}

.centering {
  /*background-color: #1b0760;*/
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}

.centering-signature {
  /*background-color: #1b0760; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.centering-signature img {
  width: 40px;
  height: 40px;
}

.centering-credits span {
  font-size: 1.2rem;
  color: whitesmoke;
}

.centering-credits {
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: center;
}

.email {
  padding-bottom: 100px;
}

@media screen and (min-width: 600px) and (max-width: 1024px) { /*ipads*/
  .first-section {
    display: block;
  }
  .intro-image {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 80%;
  }

  .nav__brand {
    width: 232px;
  }

  .nav__item {
    padding: 0.5rem 2rem;
  }

  .email {
    padding-bottom: 50px;
  }

  .sep2 {
    height: 100px;
  }

  .sep {
    height: 50px;
  }

  .third-section {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: 50% 50%;
    grid-template-columns: 90%;
  }

  .last-part-text {
    padding-left: 2rem;
  }

  .intro-separator {
    height: 100px;
  }
  .intro-text {
    padding: 6rem;
    width: 100%;
  }
  .second-section {
    display: block;
  }
  .middle-image {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 70%;
  }
  .last-part-image {
    order: 2; /*reverse the order (text top then image bottom*/
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 70%;
  }
}

@media screen and (max-width: 599px) { /*Phones*/
  .first-section {
    display: block;
  }
  .intro-image {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
  }

  .nav__item {
    padding: 0.5rem 2rem;
  }


  .third-section {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: 50% 50%;
    grid-template-columns: 90%;
  }
  .intro-separator {
    height: 100px;
  }
  .intro-text {
    padding: 6rem;
    width: 100%;
  }
  .second-section {
    display: block;
  }
  .middle-image {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 70%;
  }
  .last-part-image {
    order: 2; /*reverse the order (text top then image bottom*/
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 80%;
  }
  footer {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: 25px 15px 25px 25px 20px;
    grid-template-columns: 100%;

  }

  .nav {
    align-items: center;
    justify-content: center;
  }

  .nav__brand {
    width: 200px;
  }

  .email {
    padding-top: 50px;
    padding-bottom: 150px;
  }

  .email h1 {
    font-size: 3rem;
  }
}